 .result-card{
   height: 230px; 
   width:  230px;
   max-height: 230px;
   max-width: 230px;   
   margin:20px; 
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;  
   display: inline-block;    
 }

 .result-card:hover  {
  box-shadow: rgba(0, 0, 0, 0.788) 0px 0px 16px;    
  cursor: pointer;
 }

 .result-card:hover .result-image{
  transform: scale(1.10)
 }

 .result-image{ 
   width:80%;
   height: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   transition: transform .2s; 
 }

 .result-container{ 
 
  width: auto;
   max-width:80%;
   display:block;
  margin-left: auto;
  margin-right: auto;
   /* background-color: antiquewhite;  */
 }

 .result-host{
  margin-top: 10px;
  width:80%;
  margin-left: auto;
  margin-right: auto; 
  font-size:1.2em;
  text-align: center;
 }

 