
.resultContainer{ 
  width: auto;
   max-width:80%;
   display: block;
  margin-left: auto;
  margin-right: auto;   
 }


.resultCard{
  vertical-align: top;
  max-height: 230px;
  max-width: 230px;   
  height: 230px;
  margin:20px 0 0 20px !important; 
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;  
   display: inline-block;     
  z-index: 1;
   
}

.dead {
  position: relative;
}

.dead::after{
  content:"Dead URL";
  z-index: 100;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 15%;
  color: red;
  font-size:2.5em;
  font-weight:700;
  /* transform: rotate(-45deg) */
   
}

.resultCard:hover  {
 box-shadow: rgba(0, 0, 0, 0.788) 0px 0px 16px;    
 cursor: pointer;
}

.resultCard:hover .resultImage{
 transform: scale(1.10)
}

.resultImage{ 
  width:80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;   
}


.resultHost{
 margin-top: 2px;
 width:80%;
 margin-left: auto;
 margin-right: auto; 
 font-size:1.2em;
 text-align: center;
  
}

 