.resultCard{
  height: 230px; 
  width:  230px;
  max-height: 230px;
  max-width: 230px;   
  margin:20px; 
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;  
  display: inline-block;    
}

.resultCard:hover  {
 box-shadow: rgba(0, 0, 0, 0.788) 0px 0px 16px;    
 cursor: pointer;
}

.resultCard:hover .resultImage{
 transform: scale(1.10)
}

.resultImage{ 
  width:80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s; 
}

.resultContainer{ 
 width: auto;
  max-width:80%;
  display:block;
 margin-left: auto;
 margin-right: auto;
   
}

.resultHost{
 margin-top: 2px;
 width:80%;
 margin-left: auto;
 margin-right: auto; 
 font-size:1.2em;
 text-align: center;
}

.listType{
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.2em;
  text-align: center;
}