.mainContainer {
    display:block;     
    width: auto;
    max-width: 45%;
    margin: 100px auto 40px auto;     
    border: solid black 1px;
    border-radius: 1%;       
}

.header {     
    padding: 2px 2% 0 2%;
    height: 50px;    
    border-bottom: solid black 1px;
}

.footer {
    padding: 1px 2% 0 2%;
    height: 50px;
    border-top: solid black 1px;
}

.btnClose {
    height: 37px;
    width: 100%;    
    background-color:#007bff;
    color:white;
    margin: 5px 0 0 0;    
    font-size:1.25em;
    border:none;
    outline:none;
    border-radius: 4px;
} 

.btnClose:hover{
    cursor: pointer;
    background-color: #0563c9;
}

.formContainer{   
    padding: 12px;         
} 

.input {
    width:  100%;
    margin: 0 0 12px  0 ;
    height: 30px;
    font-size: 1.3em;
}

.inputReadOnly {
    width:  60px;
    margin: 0 0 12px  0 ;
    height: 30px;
    font-size: 1.3em;
    background-color: lightgray;
}

.btnSubmitNewListing {
    height: 40px;
    width: 100%;    
    background-color: #28a745 ;
    color:white;
    margin: 5px 0 0 0;    
    font-size:1.25em;
    border:none;
    outline:none;
    border-radius: 4px;
}

.btnSubmitUpdate {
    height: 37px;
    width: 74%;       
    background-color: #28a745 ;
    color:white;
    margin: 5px 0 0 0;    
    font-size:1.25em;
    border: none;
    outline:none;
    border-radius: 4px;
}

.btnSubmitUpdate:hover, .btnSubmitNewListing:hover {
    cursor: pointer;
    background-color: #1c7431;
}

.btnDelete {
    height: 37px;
    width: 25%;   
    float: right;
    background-color:#dc3545;
    color:white;
    margin: 5px 0 0 0;    
    font-size:1.25em;
    border:none;
    outline: none;
    border-radius: 4px;
}

.btnDelete:hover{
    cursor: pointer;
    background-color:#a12834;

}

.btnSubmit:hover {
    cursor: pointer;
    background-color:#19722e;
}