.searchbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width:80%;
    height:100px;
    /* background-color: lemonchiffon; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;     
    background-color: white;
}


.root {
    display: grid;
    grid-template-columns: 1fr .5fr .75fr .75fr .5fr;
    grid-template-rows:  90px;
    grid-template-areas:
    "search sellers priors priors2 deadlive";    
}

.search{
    grid-area: search;
    background-color: lawngreen;
    }

.sellers{
grid-area: sellers;
background-color: bisque;
 padding:3px;
 padding: 0 0 0 20px;
}

.priors{
    grid-area: priors;
    background-color:hotpink
}

.priors2{
    grid-area: priors2;
    background-color:magenta
}

.deadlive{
    grid-area: deadlive;
    background-color: tomato;
}


 .outdent{
     margin-left:-15px;
 }